// ----------------------------------------------------------------------
// Font Size
// ----------------------------------------------------------------------

// ----------------------------------------------------------------------
// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 1280;

// ----------------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 16;
$h1: 18px;
$h2: 16px;
$h3: 14px;

// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
$font-family: 'Avenir Next';
