// ----------------------------------------------------------------------
// Font Size
// ----------------------------------------------------------------------

// ----------------------------------------------------------------------
// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 1280;

// ----------------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 16;
$h1: 24px;
$h2: 18px;
$h3: 16px;
$h4: 14px;

h4 {
  font-size: $h4;
}
h3 {
  font-size: $h3;
  font-weight: 600;
}
h2 {
  font-size: $h2;
}
// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
$font-family: "Avenir Next";
