/**
* Variables
*/
:root {
  /* 16px */
  --space-unit: 1rem;
}

:root,
* {
  /* https://codyhouse.co/ds/globals/spacing */
  /* 2px */
  --space-xxxxs: calc(0.125 * var(--space-unit));
  /* 4 */
  --space-xxxs: calc(0.25 * var(--space-unit));
  /* 6 */
  --space-xxs: calc(0.375 * var(--space-unit));
  /* 8 */
  --space-xs: calc(0.5 * var(--space-unit));
  /* 12 */
  --space-sm: calc(0.75 * var(--space-unit));
  /* 16 */
  --space: var(--space-unit);
  /* 20 */
  --space-md: calc(1.25 * var(--space-unit));
  /* 32 */
  --space-lg: calc(2 * var(--space-unit));
  /* 52 */
  --space-xl: calc(3.25 * var(--space-unit));
  /* 84 */
  --space-xxl: calc(5.25 * var(--space-unit));
  /* 136 */
  --space-xxxl: calc(8.5 * var(--space-unit));
  /* 220 */
  --space-xxxxl: calc(13.75 * var(--space-unit));
  --component-padding: var(--space-md);
}
/* color */
:root {
  --color-primary: #ce4b1a;
  --color-primary-dark: #b33d12;
  --color-primary-light: #d2592c;
  --color-primary-lighter: #f8f2f0;
  --color-secondary: #e6a87a;
  --color-secondary-dark: #9c5633;
  --color-tertiary: #332e2b;
  --color-dark: #333333;
  --color-white: #ffffff;
  --color-light: #f2efed;
}

/**
* Reset
**/
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Avenir Next";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

button {
  cursor: pointer;
  font-weight: 400;
}

button,
input,
textarea {
  /* font-family: $font-family; */
  font-family: "Avenir Next";
}
a {
  /* color: $color-dark; */
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.row {
  display: flex;
  justify-content: space-between;
}
.col {
  width: 100%;
}
/* .section {
  padding: 20px 0;
} */
.bn-space-xxl-top {
  margin-top: var(--space-xxl);
}
.bn-space-xl-bottom {
  margin-bottom: var(--space-xl);
}
.title-light {
  font-weight: 500;
}
